<div class="container">
    <div class="jumbotron" style="background-color: beige;">
        <h1>About Me</h1>      
        <!-- <tr *ngFor="let ab of about">
            <div>{{ab.description}}</div>
          </tr> -->
          <h5>
            Since I joined the company, I have participated in two projects. In the first project, I collaborated with team members to create a peer to peer money transfer system using Angular, Typescript, .NET and MSSQL. I contributed to the different parts of the project implementation. I designed and implemented a core functionality which calculates remaining balances in users account based on their transactions. Similarly, I designed and implemented a functionality that generates a one-time password to verify transactions and account modifications which made the system more secure.  

            In the second project, which I am currently on, I have been working as a part of a front end team. In this project, I designed and implemented an angular solution, which invokes auto refreshing of a page and fetching of data from relational database based on actions taken on another page. In addition, I have also created an angular solution, which allows caching of data on local system to significantly reduce the amount of time it takes to retrieve data from database. 
          </h5>

    </div>
</div>
